@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=IBM+Plex+Serif:wght@700&display=swap');


:root {
  --default-font-family: 'IBM Plex Sans', sans-serif;
  --title-font-family: font-family: 'IBM Plex Serif', serif;

  --text-color: #ffffff;
  --background-color: #131313;
  --link-color: #ffffff;
  --form-bg-color: #242424;

  --button-color: #0f62fe;
  --button-hover-color: #0353e9;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);

  display: grid;
  height: 100vh;
  place-items: center;
}

body * {
  font-family: var(--default-font-family);
  font-size: 1rem;
}

a {
  color: var(--link-color);
}

form {
  background-color: var(--form-bg-color);

  width: min(70rem, 87%);
  margin: auto;

  padding: 4.5rem;
  border-radius: 2rem;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: var(--title-font-family);
  font-size: 2rem;
}

legend + .radio-wrapper {
  margin-top: 3.5rem
}

.radio-wrapper {
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  padding: 1.8rem;

  transition: .3s;
}

.radio-wrapper:hover {
  background-color: rgba(15, 98, 254, 0.02);
  transition: .3s;
}

.checkbox-wrapper > div {
  display: flex;
  gap: 1rem;
}

.radio-wrapper input[type="radio"] {
  appearance: none;

  border: 1px solid var(--text-color);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;

  background-color: var(--form-bg-color);
}

.radio-wrapper input[type="radio"]:checked {
  background-image: radial-gradient(var(--text-color) 35%, var(--form-bg-color) 45%);
}

.radio-wrapper:not(:has(:checked)) {
  opacity: .6;
}

.radio-wrapper label {
  font-size: 1.1rem;
}

.radio-wrapper p {
  margin-top: .7rem;
  padding-left: .9rem;
}

.radio-wrapper + .radio-wrapper,
.checkbox-wrapper + .checkbox-wrapper {
  margin-top: 1.5rem;
}

.checkbox-wrapper {
  display: flex;
  gap: .8rem;
  padding-inline: 1.8rem;
}

.checkbox-wrapper input[type="checkbox"] {
  appearance: none;

  flex-shrink: 0;

  height: 1rem;
  width: 1rem;

  border: 1px solid var(--text-color);
  border-radius: .2rem;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  background-color: var(--text-color);
}

.radio-wrapper + .checkbox-wrapper {
  margin-top: 2.8rem;
}

button {
  margin-top: 3.2rem;

  width: 100%;

  background-color: var(--button-color);
  color: var(--text-color);

  padding: 1.2rem;
  border: none;

  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-color);
}

small {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: .8rem;
}
